---
import ModalDialog from "./ModalDialog.astro";
interface Props{
    id: string,
    title: string,
    location: string, 
    period: string,
    position: string,
    description: string,
    descriptionItems: string[],
}
const {id,title,location,period,position,description,descriptionItems} = Astro.props;
const actualId = "job-details-"+id;
---
<ModalDialog id={actualId}>
    <div class="text-matrix-medium">
        <div class="flex flex-col w-full items-center">
            <h1 class="text-3xl font-bold sm:text-5xl sm:mb-4">{title}</h1>
            <h2 class="text-xl text-surface-light sm:text-2xl">{location}</h2>
            <h2 class="text-xl text-surface-light sm:text-2xl">{period}</h2>
        </div>
        <div class="flex flex-col p-8 text-surface-light text-sm space-y-4
                    sm:text-base">
            <p class="text-matrix-medium font-bold text-base sm:text-lg">
                {position}
            </p>
            <p class="font-sans text-base sm:text-lg">
                {description}
            </p>
            <ul class="list-disc pl-8 font-sans text-base sm:text-lg">
                {
                    descriptionItems.map(
                        (item) => {
                            return <li>
                                {item}
                            </li>
                        }
                    )
                }
            </ul>
        </div>
    </div>
</ModalDialog>