---
import type { Page } from "astro";
import Layout from "../layouts/Layout.astro"
import Pagination from "./Pagination.astro";
import ProjectSection from "./ProjectSection.astro";
interface Props {
    page: Page,
    tag?: string,
    title?: string,
    includeOne?: boolean,
    baseLink?: string,
}
const {page, tag, title, includeOne, baseLink} = Astro.props;
const actualTitle = title ?? "Projects";
---

<Layout title={actualTitle + " " + page.currentPage.toString()}>
  <div class="flex flex-col px-5 text-lg text-white mt-20 space-y-12 mx-5 mb-20 items-center
              sm:mt-64">
    <div class="flex flex-col items-center space-y-4 sm:space-y-6">
      <h1 class="text-4xl text-matrix-medium font-bold
                sm:text-5xl
                md:text-6xl">
      {actualTitle}
      </h1>
      {tag && <h2 class="text-lg text-matrix-medium sm:text-2xl">Tag: [{tag}]</h2>}
    </div>
    {page.data.map((entry)=>{
        return <ProjectSection entry={entry}></ProjectSection>
    })}
    <Pagination page={page} tag={tag} includeOne={includeOne} baseLink={baseLink}>
    </Pagination>
  </div>
</Layout>