---
 import {Image} from 'astro:assets';
import defaultImage from '../images/projects/default.jpg';
import DefaultButton from './DefaultButton.astro';
import DefaultCard from './DefaultCard.astro';
const { name, image, tech, links } = Astro.props;
var actualImage = image;
if (actualImage == undefined){
    actualImage = defaultImage;
}
---

<DefaultCard imageSize="sm:w-52" title={name} image={actualImage} thirdColumn="hidden">
    <div class="flex flex-col text-base text-surface-light space-y-2">
        <div>
            <slot></slot>
        </div>
        <p>
            <b class="font-bold text-matrix-medium">Technologies used:</b> {tech}
        </p>
        <div class="flex flex-row space-x-8">
            {
                links?.map(
                    (link: { url: string | URL; name: string; }) =>{
                        return <a href={link.url} target="_blank">
                            <DefaultButton>
                                {link.name}
                            </DefaultButton>
                        </a>
                    }
                )
            }
        </div>
    </div>
</DefaultCard>